@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-8px);
	}

	80% {
		transform: translateY(-4px);
	}
}

.button-add {
  cursor: pointer;
  border: 1px solid $mainColorLightTheme;
  padding: 0 2px;
  border-radius: 10px;
  background-color: #ccc;
  transition: box-shadow .4s .2s;
}

.button-add:hover {
	animation: bounce 1s;
  box-shadow: 0 0 5px black;
}