@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-8px);
	}

	80% {
		transform: translateY(-4px);
	}
}

.button-add {
  padding: 0 2px;
  transition: box-shadow .4s .2s;
}

.button-add:hover {
	animation: bounce 1s;
}