.tasks__list-wrap_scrollbar_webkit::-webkit-scrollbar {
  width: 8px;
}

.tasks__list-wrap_scrollbar_webkit::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.tasks__list-wrap_scrollbar_webkit::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
}