.socials-link__image {
  display: block;
  height: 32px;
  width: 32px;
  fill: var(--social-link-color);
  transition: fill .4s;
}

.socials-link__image:hover {
  fill: var(--social-link-hover-color);
}

