@import '../vendor/variables.scss';
@import '../vendor/themes/normal.scss';
@import '../vendor/themes/dark.scss';
@import '../vendor/fonts.scss';
@import '../blocks/root/root.scss';
@import '../blocks/container/container.scss';
@import '../blocks/header/header.scss';
@import '../blocks/button-theme/button-theme.scss';
@import '../blocks/button-theme/__image/button-theme__image.scss';
@import '../blocks/button-theme/__input/button-theme__input.scss';
@import '../blocks/button-theme/__switch/button-theme__switch.scss';
@import '../blocks/title/title.scss';
@import '../blocks/button/button.scss';
@import '../blocks/button-add/button-add.scss';
@import '../blocks/button-add/__image/button-add__image.scss';
@import '../blocks/content/content.scss';
@import '../blocks/tasks/tasks.scss';
@import '../blocks/tasks/__title-wrap/tasks__title-wrap.scss';
@import '../blocks/tasks/__title-image/tasks__title-image.scss';
@import '../blocks/tasks/__title/tasks__title.scss';
@import '../blocks/tasks/__list-wrap/tasks__list-wrap.scss';
@import '../blocks/tasks/__list/tasks__list.scss';
@import '../blocks/tasks/__item/tasks__item.scss';
@import '../blocks/tasks/__move-icon/tasks__move-icon.scss';
@import '../blocks/tasks/__item-title/tasks__item-title.scss';
@import '../blocks/tasks/__icons-wrap/tasks__icons-wrap.scss';
@import '../blocks/tasks/__icons-button/tasks__icons-button.scss';
@import '../blocks/tasks/__icon/tasks__icon.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/socials-link/socials-link.scss';
@import '../blocks/socials-link/__image/socials-link__image.scss';
@import '../blocks/popup/popup.scss';
@import '../blocks/popup/__container/popup__container.scss';
@import '../blocks/popup/__title/popup__title.scss';
@import '../blocks/popup/__form/popup__form.scss';
@import '../blocks/popup/__field/popup__field.scss';
@import '../blocks/popup/__input/popup__input.scss';
@import '../blocks/popup/__input-error/popup__input-error.scss';
@import '../blocks/popup/__button-save/popup__button-save.scss';
@import '../blocks/popup/__button-close/popup__button-close.scss';
@import '../blocks/popup/__close-icon/popup__close-icon.scss';
@import '../blocks/button-theme/__image/_type/button-theme__image_type_moon.scss';
@import '../blocks/button-theme/__image/_type/button-theme__image_type_sun.scss';
@import '../blocks/tasks/__list-wrap/_scrollbar/tasks__list-wrap_scrollbar_gecko.scss';
@import '../blocks/tasks/__list-wrap/_scrollbar/tasks__list-wrap_scrollbar_webkit.scss';
@import '../blocks/tasks/__icon/_type/tasks__icon_type_edit.scss';
@import '../blocks/tasks/__icon/_type/tasks__icon_type_remove.scss';
@import '../blocks/tasks/__icon/_type/tasks__icon_type_progress.scss';
@import '../blocks/tasks/__icon/_type/tasks__icon_type_done.scss';
@import '../blocks/popup/_opened/popup_opened.scss';