.popup__input {
  background-color: var(--popup-input-bg-color);
  border-radius: 10px;
  border: 1px solid var(--popup-input-bg-color);
  color: var(--main-text-color);
  height: 60px;
  outline: none;
  padding: 10px 5px;
  resize: none;
  transition: border .4s;
}

.popup__input:focus {
  border: 1px solid var(--popup--input-border-hover-color);
}