.popup {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  font-family: "Inter", "Arial", sans-serif;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: fixed;
  transition: opacity .4s;
  visibility: hidden;
  z-index: 15;
}